
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
   
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
   
}

#menu_container {
    position: relative;
    height: 100%;
    width: 90%;
    overflow: hidden;
    
}

#menu_container > img {
    width: 100%;
    height: 100%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

#main_overlay {
    display: grid;
    position: absolute;
    grid-template-rows: 15% auto 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/* menu up */
#menu_up {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #999;
    
}

#hearts_container {
    padding: 4vh 4vw;
    padding-right: 0;
}

/* Centraliza e estiliza os corações */
#hearts_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hearts_line {
    display: flex;
    justify-content: center;
    margin-bottom: 5px; /* Espaçamento entre as linhas */
}

.heart_img {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin: px; /* Reduz o espaçamento entre os corações */
}



#menu_title_container {
    display: flex;
    flex-direction: row;
}

.title_button {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_button_icon {
    display: inline-block;
    font-size: 2.1vh;
    width: 3vh;
    height: 3vh;
    font-weight: 300;
    color: #333;
    text-align: center;
    border-radius: 5px;
}

.title_button_text {
    color: #ddd;
    font-size: 2.5vh;
    font-weight: 400;
    margin-top: 2px;
}

#title_center {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    color: #333;
    font-size: 3.2vh;
    font-weight: bold;
    margin-top: 2px;
}

.dots_container {
    width: fit-content;
    height: 20px;
}

.dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #999;
    margin: 2px;
    border-radius: 50%;
}

.dot.active {
    width: 6px;
    height: 6px;
    background-color: #ddd;
}

#rubies_container {
    padding: 4vh 4vw;
}

#ruby_img {
    width: 2.1vh;
    float: right;
    margin-right: 4px;
}

#rubies_count {
    float: right;
    color: #ddd;
    font-size: 2.7vh;
    font-weight: 500;
}

/* menu center */
#menu_center {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#menu_left_side {
    display: grid;
    grid-template-rows: 11vh 1fr;
    padding: 5vh 0;
}

#menu_left_side_up {
    padding: 0 17vh;
}

#menu_left_side_up_menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.menu_left_side_up_menu_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    padding-bottom: 4px;
    border-bottom: 2px solid #999;
    opacity: 0.6;
}

.menu_left_side_up_menu_button.active {
    border-bottom: 2px solid #ddd;
    opacity: 1;
}

.menu_left_side_up_menu_button_text {
    color: #ddd;
    font-size: 2.5vh;
    font-weight: 400;
    margin-top: 2px;
}

.menu_left_side_up_menu_button_icon {
    display: inline-block;
    font-size: 2.1vh;
    width: 3vh;
    height: auto;
    font-weight: 300;
    text-align: center;
}

#menu_left_side_down {
    padding: 1vh 17vh;
}

#menu_left_side_down_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
}

.menu_left_side_down_item {
    position: relative;
    width: 30%;
    height: 30%;
    margin-bottom: 15px;
}

.menu_left_side_down_item_inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.menu_left_side_down_item_img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.menu_left_side_down_item_inner:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 15px;
}

/* menu right side */
#menu_right_side {
    position: relative;
}

#menu_right_side_img {
    width: 100%;
    border-radius: 15px;
}

#menu_right_side_info_container {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    padding: 10px;
}

#menu_right_side_info_container_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#personagem_container {
    margin-top: 20px;
}

#personagens_imagens {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.personagem img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.personagem {
    text-align: center;
    margin: 10px;
}

#menu_right_side_info_title {
    font-size: 2.5vh;
    font-weight: bold;
    margin-bottom: 5px;
}

.icons_container {
    display: flex;
    justify-content: center;
}

.icon {
    margin: 0 10px;
}

.icon_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vh;
    height: 4vh;
    background-color: #333;
    border-radius: 50%;
}

.icon_img {
    width: 50%;
}

#menu_down {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu_down_button button {
    padding: 15px 30px;
    font-size: 24px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.heart_img {
    width: 30px; /* Ajuste o tamanho conforme necessário */
    height: 30px;
    margin-right: 5px; /* Espaçamento entre as imagens */
}
.image-container {
    display: flex;
    flex-direction:column;  /* Define que os itens dentro do container devem ser dispostos em uma linha (horizontalmente) */
    justify-content: flex-start; /* Alinha as imagens à esquerda (ou você pode usar 'center' para centralizar) */
    align-items:baseline;   /* Alinha as imagens verticalmente no centro */
    gap: 10px; /* Espaço horizontal entre as imagens */
}
.image-container {
    display: flex;          /* Alinha os itens em uma linha */
    flex-direction: row;    /* Define a direção horizontal para os itens */
    justify-content: flex-start;  /* Alinha as imagens no início do contêiner */
    align-items: center;    /* Alinha as imagens verticalmente no centro */
    gap: 10px;              /* Espaço entre as imagens */
}

.menu_left_side_down_item_img {
    width: 100px;   /* Defina o tamanho da imagem */
    height: auto;   /* Preserva a proporção da imagem */
}
/* Estilizando o corpo para ocupar a tela inteira e centralizar o conteúdo */
body {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Ocupa 100% da altura da tela */
    margin: 0; /* Remove margens padrão */
    background-color: #f0f0f0; /* Cor de fundo opcional */
}

/* Contêiner para os botões */
#menu {
    display: flex;
    flex-direction: column; /* Alinha os botões verticalmente */
    text-align: center; /* Centraliza o texto dos botões */
}

/* Estilo básico para todos os botões */
button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

/* Cor específica para cada botão */
#startButton {
    background-color: #4CAF50; /* Verde */
    color: white;
}

#createCharacterButton {
    background-color: #008CBA; /* Azul */
    color: white;
}

#listCharactersButton {
    background-color: #f0ad4e; /* Amarelo/laranja */
    color: white;
}

#exitButton {
    background-color: #f44336; /* Vermelho */
    color: white;
}


.pocao-imagem-pequena {
    width: 90px; /* Defina a largura desejada */
    height: auto; /* Mantém a proporção da imagem */
    margin-top: -1cm; /* Move a imagem 1 cm para cima */
}

.arco {
    position: relative; /* Certifique-se de que a posição está definida */
    margin-left: -60px; /* Ajuste esse valor para mover mais ou menos perto da poção */
}
.titulo3-imagem {
    width: 90px; /* Defina a largura desejada */
    height: auto; /* Mantém a proporção da imagem */
    margin-top: -1cm; /* Move a imagem 1 cm para cima */
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}


/* Ajusta a exibição das imagens dos personagens */
#menu_left_side_down {
    padding: 1vh 17vh;
}

#menu_left_side_down_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.menu_left_side_down_item {
    position: relative;
    width: 40%;
    height: 40%;
    margin-bottom: 15px;
}

.menu_left_side_down_item_inner {
    position: relative;
    width: 100%;
    height: 100%;
}
 .menu_left_side_down_item_img {
        cursor: url('image-removebg-preview\ \(2\).png'), auto
}

.menu_left_side_down_item_inner:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 15px;
}

/* menu right side */
#menu_right_side {
    position: relative;
}

#menu_right_side_img {
    width: 100%;
    border-radius: 15px;
}

#menu_right_side_info_container {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    padding: 10px;
}

#menu_right_side_info_container_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#personagem_container {
    margin-top: 30px;
}

#personagens_imagens {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.personagem img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.personagem {
    text-align: center;
    margin: 10px;
}

#menu_right_side_info_title {
    font-size: 2.5vh;
    font-weight: bold;
    margin-bottom: 5px;
}

.icons_container {
    display: flex;
    justify-content: center;
}

.icon {
    margin: 0 10px;
}

.icon_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vh;
    height: 4vh;
    background-color: #333;
    border-radius: 50%;
}

.icon_img {
    width: 50%;
}

/* menu down */
#menu_down {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu_down_button button {
    padding: 15px 30px;
    font-size: 24px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu_down_button button:hover {
    background-color: #ddd;
}

/* Estilo para as imagens com animação de movimento */
.menu_left_side_down_item_img {
    animation: moveUpDown 2s infinite ease-in-out;
    width: 100px;
    height: auto;
}

/* Animação de movimento */
@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

